<!-- header部分をapplication.html.erbに移動し、about.html.erbから削除してください -->
<!-- header部分 -->
<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <nav>
      <ul class="header-right">
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</header>
<!-- header部分 -->

<!-- containerクラスのついたdivタグをapplication.html.erbに移動し、削除してください -->
<div class="container">
  <h1>Gatebookとは？</h1>
  <p>GatebookとはRuby on Railsというフレームワークを駆使した、<br>記事投稿SNSサービスです。<br>近況やつぶやきを投稿し、サービス上の友達と楽しくコミュニケーションできます。</p>
</div>

<!-- footer部分をapplication.html.erbに移動し、about.html.erbから削除してください -->
<!-- footer部分 -->
<div class="container">
  <footer class="footer">
    <small>
      &copy; 2015 Progate, Inc.
    </small>
  </footer>
</div>
<!-- footer部分 -->
