<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <nav>
      <ul class="header-right">
        <!-- 「Top」の部分をtopページ(homeコントローラのtopアクション)へのリンクに書き換えてください -->
        <li>Top</li>

        <!-- 「About」の部分をaboutページ(homeコントローラのaboutアクション)へのリンクに書き換えてください -->
        <li>About</li>
        
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <h1><%= @message %></h1>
</div>

<div class="container">
  <footer class="footer">
    <small>
      &copy; 2015 Progate, Inc.
    </small>
  </footer>
</div>
