<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
  </div>
</header>

<div class="container">
  <!-- 「Gatebookへようこそ」の部分を変数@messageに書き換えてHTMLに出力されるようにしてください -->
  <h1>Gatebookへようこそ!</h1>
</div>

<div class="container">
  <footer class="footer">
    <small>
      &copy; 2015 Progate, Inc.
    </small>
  </footer>
</div>
