<header class="navbar">
  <div class="container">
    <!-- 「Gatebook」をtopページへのリンクに書き換えてください -->
    <div id="logo">Gatebook</div>

    <nav>
      <ul class="header-right">
        <!-- 「Top」をtopページへのリンクに書き換えてください -->
        <li>Top</li>

        <!-- 「About」をaboutページへのリンクに書き換えてください -->
        <li>About</li>
        
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <h1><%= @message %></h1>
</div>

<div class="container">
  <footer class="footer">
    <small>
      &copy; 2015 Progate, Inc.
    </small>
  </footer>
</div>
